body {
  padding-top: 90px;
}

.nav {
  margin-top: 18px;
}

.navbar {
  min-height: 90px;
  margin-bottom: 0 !important;
}

.navbar-brand {
  height: auto;
  padding-top: 15px;
  margin: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav > li > a {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 1px solid #ccc;
}

.navbar-nav > li > a span {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 14px;
  display: block;
  font-weight: normal;
  font-family: arial;
  text-transform: none;
}

